
@model Team_Golf.Models.GolfCourse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Golf Courses</title>
</head>
<body>
    <h1>Hello Golf Course</h1>
    <p>golf is fun</p>
    <div>Course Name: @Model.Name</div>
    <div>Course ID: @Model.Id</div>
    <div>Course Review: @Model.Review</div>
</body>
</html>
