
@model IEnumerable<Team_Golf.Models.GolfCourse>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Golf Courses</title>
    <link href="~/HomeStyle.css" rel="stylesheet" />
</head>
<body>
    <h1>Hello Golf Course</h1>
    <p>golf is fun</p>
    @foreach (var golfCourse in Model)
    {
        <p>golf course title <span>@golfCourse.Name</span></p>
        <p>golf course id <span>@golfCourse.Id</span></p>
        <p>golf course review <span>@golfCourse.Review</span></p>
    }
</body>
</html>
