
@model IEnumerable<Team_Golf.Models.GolfCourse>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Golf Courses</title>
    <link href="~/CSS/IndexStyle.css" rel="stylesheet" />
</head>
<body>
    <h1>Hello Golf Course</h1>
    <p>golf is fun</p>
    @foreach (var golfCourse in Model)
    {

        <div id="Review_Section">
            <article class="someName">
                <h3><a href="/Course/Details/@golfCourse.Id">@golfCourse.Name</a></h3>
                <img src="~/images/bushwood.jpg" alt="image# @golfCourse.Id"/>
                <p>@golfCourse.Review</p>
            </article>
        </div>
    }

</body>
</html>
