@model Team_Golf.Models.Review
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CreateByGolfCourseID";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateByGolfCourseID</title>
</head>
<body>
<h1>CreateByGolfCourseID</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReviewerName" class="control-label"></label>
                <input asp-for="ReviewerName" class="form-control" />
                <span asp-validation-for="ReviewerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewText" class="control-label"></label>
                <input asp-for="ReviewText" class="form-control" />
                <span asp-validation-for="ReviewText" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ReviewDate" class="control-label"></label>
                <input asp-for="ReviewDate" class="form-control" />
                <span asp-validation-for="ReviewDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ReviewRating" class="control-label"></label>
                <input asp-for="ReviewRating" class="form-control" />
                <span asp-validation-for="ReviewRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="GolfCourseId" class="form-control" value="@ViewBag.GolfCourseId" type="hidden"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Course/Details/@ViewBag.GolfCourseId">Return to Course Details</a>
</div>
</body>
</html>

