@model Team_Golf.Models.Review
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/CSS/DetailsStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="Details_Section">
        <article class="some_details_name">
            <h1> Review Details</h1>
            <p> Reviewer Name: <span>@Model.ReviewerName</span></p>
            <p> Review Description:<span>@Model.ReviewText</span></p>
            <p> Review Rating: <span>@Model.ReviewRating</span></p>
            <p> Review Date: <span>@Model.ReviewDate</span></p>
            <a href="/Review/Delete/@Model.Id">Delete This Review</a>
            <a href="/Review/Update/@Model.Id">Update a Review</a>
            <a href="/Course/Details/@Model.GolfCourseId"> Back to Golf Course Details</a>
        </article>
    </div>
</body>
</html>
