body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-image: url(/Images/golfcourse6.jpg);
    background-size: cover;
}

#Details_Section {
    display: flex;
    color: black;
    flex-direction: column;
    border: 2px solid #333;
    text-align: left;
    justify-content: center;
    background-color: lightgray;
    opacity: 0.7;
    padding: 1em;
    margin-left: 380px;
    margin-right: 380px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: bold;
}

/*#Details_Section article img {
        width: 100%;
        border: 1px solid #333;
}*/

.some_details_name {
    text-align: center;
    justify-content: center;
    background-color: lightgray;
    opacity: 0.7;
    border: 2px solid #333;
    padding: 1em;
}


