body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-image: url(/Images/golfcourse6.jpg);
    background-size: cover;
        
}
/*h1 {
    align-content: center;
}
p {
    align-content: center;
}*/

#Review_Section {
    display: grid;
    color: red;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
  
}
#Review_Section article img {
    width: 100%;
    border: 1px solid #333;
}
#Review_Section article {
    background-color: lightgray;
    opacity: 0.7;
    border: 2px solid #333;
    padding: 1em;
}







